

#layout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#container, #markdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 8px;
  background-color: white;
}

#markdown {
  margin: 0;
  font-size: 0.8em;
}


.w2ui-toolbar table.w2ui-button .w2ui-tb-image > span {
  color: grey;
}