/* Add space around the hr to make clicking it easier */

.ProseMirror hr {
  padding: 2px 0;
  border: none;
  margin: 1em 0;
}

.ProseMirror hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

/* Improve on default blockquote treatment */

.ProseMirror blockquote {
  padding-left: 0.75em;
  border-left: 3px solid #eee;
  margin-left: 0; 
  margin-right: 0;
}

/* SmallCaps */

.ProseMirror .smallcaps {
  font-variant: small-caps;
}

/* Impement support for data-tight on lists */

.ProseMirror li[data-tight] > p {
  margin-block-start: 0.1em;
}

/* Tweak bottom margins for list items */

.ProseMirror li > p {
  margin-bottom: 5px;
}

.ProseMirror li:last-of-type > p {
  margin-bottom: 16px;
}

/* Footnote numbering */

.ProseMirror footnote::after {
  content: counter(prosemirror-footnote);
  vertical-align: super;
  font-size: 75%;
  counter-increment: prosemirror-footnote;
}

.ProseMirror footnote {
  position: relative;
}

.ProseMirror footnote > div,
.ProseMirror footnote > div > p {
  display: inline-block;
  width: 2px;
  margin-left: -2px;
  max-height: 1em;
  white-space: nowrap;
  overflow: hidden;
}

.ProseMirror footnote.active > div,
.ProseMirror footnote.active > div > p {
  display: block;
  white-space: normal;
  width: inherit;
  margin-left: initial;
  overflow: initial;
  max-height: none;
}

.ProseMirror footnote.active > div {
  position: absolute;
  left: 100px;
  top: 0;
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  background-color: yellow;
} 




