/* Fill container */

.ProseMirror {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: none;
}

/* Add space around the hr to make clicking it easier */

.ProseMirror hr {
  padding: 2px 0;
  border: none;
  margin: 1em 0;
}

.ProseMirror hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

/* Improve on default blockquote treatment */

.ProseMirror blockquote {
  padding-left: 0.75em;
  border-left: 3px solid #eee;
  margin-left: 0; 
  margin-right: 0;
}

/* SmallCaps */

.ProseMirror .smallcaps {
  font-variant: small-caps;
}

/* List item (use custom node view to accomodate checkbox) */

.ProseMirror li > .list-item-container {
  display: flex;
}

.ProseMirror li .list-item-checkbox {
  flex: 0 1 auto;
  margin-right: 7px;
}

.ProseMirror li .list-item-content {
  flex: 1 1 auto;
}

/* Tweak bottom margins for list items */

.ProseMirror li .list-item-content p {
  margin-block-start: 1em;
  margin-bottom: 3px;
}

.ProseMirror li:first-of-type .list-item-content p {
  margin-top: 0;
}

.ProseMirror li:last-of-type .list-item-content p {
  margin-bottom: 10px;
}

.ProseMirror li[data-tight] .list-item-content p {
  margin-block-start: 0em;
  margin-block-end: 0.3em;
}

.ProseMirror li[data-tight] li:last-of-type .list-item-content p {
  margin-bottom: 3px;
}


/* Footnote handling */

.ProseMirror .footnote {
  vertical-align: baseline;
  position: relative;
  cursor: default;
  font-size: 75%;
  top: -0.45em;
}

.ProseMirror .body,
.ProseMirror .notes {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 8px;
  overflow-y: scroll;
  background-color: white;
}

.ProseMirror .body {
  top: 0;
}

.ProseMirror .notes {
  height: 0;
}

.ProseMirror .body.editing-footnote {
  bottom: 100px;
  border-bottom: 1px solid silver;
}

.ProseMirror .notes.editing-footnote {
  height: 100px;
}

.ProseMirror .note {
  display: none; 
  font-size: 0.9rem;
}

.ProseMirror .note p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.ProseMirror .note.active {
  display: flex;
}

.ProseMirror .footnote.active {
  outline: 2px solid #8cf;
}

.ProseMirror .note .note-label {
  flex: none;
  padding-right: 8px;
}

.ProseMirror .note .note-content {
  flex: 1;
}









