

#layout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#editor, #markdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#editor {
  padding-top: 0;
}

#markdown {
  margin: 0;
  font-size: 0.9em;
  padding-left: 5px;
  background-color: #fff;
}

#markdown .CodeMirror {
  height: 100%;
}


.w2ui-toolbar table.w2ui-button .w2ui-tb-image > span {
  color: grey;
}

#tb_layout_right_toolbar_item_markdown_caption {
  color: rgb(54, 55, 85);
  font-weight: 600;
}